<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="game-of-life">

    <Properties>
        <Property name="APP_LOG_ROOT">./logs</Property>
        <Property name="PATTERN">%d %c{1.} [%t] %level - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
