notes.md
.vscode
.idea
**/*.idea/**/*
.iml
*.sublime-workspace
**/*.iml
*.iml
.DS_Store
.DS_Store?
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.msi
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
target
